/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
 :root {
     --lavender: #ecd5e3;
     --peach: #ffd8be;
     --strawberry: #ffc5bf;
     --lemon: #fff694;
     --tangerine: #ffd494;
     --grape: #cd75ff;
     --mint: #c1ffba;
     --grass: #93ff82;
     --raspberry: #ffc2d3;
 }

.navbar {
  background-color: var(--mint);
}

a:hover {
  background-color: var(--grape);
}

.content-area {
  background-color: var(--raspberry);
}

.related-stuff {
  background-color: var(--lemon);
}

.related-stuff-card {
  background-color: var(--tangerine);
}

.carousel {
  background-color: var(--peach);
}


.carousel-item > img {
  /* display: flex;
  align-content: center; */
  margin: auto;
}

.carousel-control-next, .carousel-control-prev {
    background-color: var(--lavender);
}

span .carousel-control-next-icon .carousel-control-prev-icon {
  filter: drop-shadow(1px 0px 2px rgba(0, 0, 0, 0.8));
}

.card-body > a:hover {
  background-color: transparent;
}

// .dropdown-item a:hover {
//   color: var(--grape);
// }

.dropdown-item:hover {
  background-color: var(--peach);
}

.dropdown-menu {
  background-color: var(--raspberry);
}

.carousel-control-next-icon .carousel-control-prev-icon {
  background-color: black;
}

.event-info-box {
  background-color: var(--lemon);
}

.info-box-text {

}

.title {
  font-weight: bolder;
}
