/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

.carousel-item > img {
  /* display: flex;
  align-content: center; */
  margin: auto;
}

.carousel > a:hover {
  background-color: transparent;
}

.carousel-control-next-icon .carousel-control-prev-icon {
  background-color: black;
}

.event-title-box {
  background-color: #ddd;
}

.card-body > h1 {
  font-weight: bolder;
}
